<<<<<<< HEAD
     
=======
    
>>>>>>> 0160db51447c6fc46f0cae02a2d698f23d6765d4
 body {
            background-image: url('/VERSION1/img_universae.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-form {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }